@media only screen and (width > 1024px) {
    #page {
        width: calc(100% - 25rem);
    }
}

@media only screen and (width < 1024px) {
    #page {
        width: calc(100% - 10rem);
    }
}

@media only screen and (width < 850px) {
    .about-container {
        flex-direction: column;
        gap: 0;
    }

    .about-container .about-right {
        align-items: center !important;
        padding: 0 3rem;
        text-align: center;
        margin: 10rem 0 10rem 0;
    }

    .card {
        align-items: center;
        justify-content: center;
        gap: 6;
    }
    .form-container{
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    .form-right{
        justify-content: flex-start;
    }
    .divider{
        padding: 1.5rem;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    /* navbar responsive */
    #navbar ul{
        height: 100vh;
        width: 100vw;
        background: #fff;
        position: absolute;
        top: 98%;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
    #navbar ul li a{
        color: #000;
    }
    .hamburger {
        display: flex;
    }
    .close{
        clip-path: circle(3.4% at 85.5% -4%);
    }
    .open{
        clip-path: circle(141.4% at 100% -4%);
    }
}

@media only screen and (width < 710px) {
    #page {
        width: 95vw;
    }

    body {
        display: flex;
        justify-content: center;
    }

    .card-services-container {
        grid-template-columns: auto;
    }

    .experience-icons {
        display: flex;
        gap: 12rem;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media only screen and (width < 550px) {
    #navbar{
        padding: 0 3vmax;
    }
}